body, html { width: 100%; margin: 0; }

$color-primary: #00314d;
$color-secondary: #ffabf0;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.background__header {
  min-height: 100vmin;
  max-height: min(33vmax, 1500px);
  box-sizing: border-box;
  $gradient: linear-gradient(
    -45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 35%,
    rgba(0,0,0,0.35) 65%,
    rgba(0,0,0,0.65) 100%
  );
  $image-url: url('./images/header_background.jpeg');
  background-image: $gradient,
                    $image-url;
  background-position: bottom 10% right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(120%)
          blur(1px);
  opacity: 0.8;
}

.background__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.background__content-left {
  $image-url: url('./images/content_background_left.jpeg');
  height: 100%;
  width: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $image-url;
  background-attachment: fixed;
}

.background__content-right {
  $image-url: url('./images/content_background_right.jpeg');
  height: 100%;
  width: 100%;
  background-position: right -250px bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $image-url;
  background-attachment: fixed;
}

.background__main {
  position: relative;
  top: -1px;
  z-index: -3;
  background-color: $color-primary;
  height: 100%;
  width: 100%;
}

header {
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  box-sizing: border-box;
  margin: 1.5rem;
  max-width: min(120rem, 80vw);
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  .header__banner {
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    color: $color-primary;
  }
  $header-row-min-height: 10rem;
  $header-row-max-height: 20rem;

  $logo-aspect-ratio: 140 / 188;
  $banner-aspect-ratio: 383 / 160;

  $logo-min-width: $logo-aspect-ratio * $header-row-min-height;
  $logo-max-width: $logo-aspect-ratio * $header-row-max-height;

  $banner-min-width: $banner-aspect-ratio * $header-row-min-height;
  $banner-max-width: $banner-aspect-ratio * $header-row-max-height;

  .header__logo, .header__banner {
    max-height: $header-row-max-height;
    min-height: $header-row-min-height;
    & * {
      height: 100%;
      width: 100%;
    }
  }

  .header__logo {
    flex: 1 1 $logo-min-width;
    max-width: $logo-max-width;
    @media (max-width: ($logo-min-width + $banner-min-width + 1rem) / 0.80) {
      display: none;
    }
  }

  .header__banner {
    flex: 3 1 $banner-min-width;
    max-width: $banner-max-width;
    padding-left: 0;
  }

  .header__motto {
    $min-width: 0.75 * $banner-min-width;
    max-height: $header-row-max-height;
    flex: 2 1 $min-width;
    margin-right: auto;
    max-width: 27.5ch;
    max-width: max(70vw, 320px);
    margin-top: auto;
    margin-bottom: auto;
  }

  .header__motto {
    text-align: left;
    vertical-align: middle;
    color: $color-primary;
    font-size: 3rem;
    font-size: clamp(2rem, 5vmax, 4rem);
    font-weight: 500;
    line-height: 1;
    font-style: italic;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

main {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

@mixin content-column {
  box-sizing: border-box;
  max-width: 50rem;
  padding: 0.5rem 1rem;
  width: 100%;
  @media (min-width: 480px) {
    padding: 1rem 2.5rem;
    width: 75%;
  }
  @media (min-width: 1440px) {
    padding: 2rem 5rem;
    margin-left: 20%;
  }
}

.page {
  @include content-column;
  margin-bottom: 5em;
  box-shadow: 0 0 44px 5px rgba(0,0,0,0.25);
  background-color: white;
  opacity: 1;
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background-color: white;
  @include content-column;
  text-align: center;
  margin-top: 1rem;
  padding: 0 !important;

  color: $color-primary;
  a {
    text-decoration: none;
    color: $color-primary;
  }
  .title {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5;;
  }
  .datum {
    display: block;
    &:before {
      content: '⚙';
      margin-right: 0.5rem;
      vertical-align: middle;
      font-size: 1rem;
    }
    &:after {
      content: '⚙';
      margin-left: 0.5rem;
      vertical-align: middle;
      font-size: 1rem;
    }

  }
}
