@use "sass:color";
@import "./node_modules/@fontsource/roboto-condensed/latin-400.css";

@mixin content-column {
  box-sizing: border-box;
  min-width: 30ch;
  max-width: 50rem;
  width: 100%;
  @media (min-width: 361px) {
    padding: 0.5rem 1rem;
  }

  @media (min-width: 480px) {
    padding: 1rem 2.5rem;
    width: 80%;
  }
  @media (min-width: 1440px) {
    padding: 1.5rem 3rem;
    margin-left: 10%;
  }
  @media (min-width: 1600px) {
    margin-left: 20%;
  }
}

html { width: 100%; margin: 0; padding: 0; min-height: 100vh; }
body { margin: 0; padding: 0; min-height: 100vh; }

$color-primary: #00314d;
$color-secondary: #ffabf0;

html {
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-primary;
}

a {
  color: $color-primary;
  &:hover, &:focus {
    color: color.adjust($color-secondary, $lightness: -10%);
  }
  &:active {
    color: color.adjust($color-secondary);
  }
  white-space: nowrap;
}

.icon {
  vertical-align: sub;
  user-select: none;
  svg {
    fill: $color-primary;
    height: 1.25em;
    width: 1.25em;
  }
}

.page {
  display: flex;
  flex-flow: column nowrap;
  &.page--hidden {
    display: none;
  }
}

.page.home {
  flex-flow: row wrap;
}

.page.home .card {
  &.our-services {
    flex: 1 1 30ch;
  }
  &.open {
    max-width: min-content;
    white-space: nowrap;
    flex: 1 1 15ch
  }
  &.open .card__content {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.page.prices .price-table {
  @include content-column;
  img {
    width: 100%;
    height: auto;
  }
  .price-extras {
    margin-top: 2rem;
    box-shadow: 0 0 44px 5px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
    background-color: white;
    opacity: 1;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    dt {
      font-weight: bold;
    }
  }
}

.zones-map {
  min-height: 500px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  iframe {
    height: 500px;
    width: 100%;
  }
}

.contact-form {
  padding: 0 !important;
  height: 1000px;
  iframe {
    height: 100%;
    width: 100%;
  }
}

body {
  position: relative
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

header nav {
  flex: 1 1 100%;
}


@keyframes logo-spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.header__logo--spin {
  animation: logo-spin 0.5s ease-in-out 1;
}

.header__logo--spin-forward {
  @extend .header__logo--spin;
  animation-direction: normal;
}
.header__logo--spin-backward {
  @extend .header__logo--spin;
  animation-direction: reverse;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-stretch: condensed;
  font-size: clamp(1rem, 3.5vmax, 1.5rem);
  font-weight: bold;
  white-space: nowrap;
  ul {
    display: flex;
    justify-content: center;
    gap: 1px;
    flex-flow: row wrap;
    margin: 1px;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      flex: 0 1 auto;
      color: $color-primary;
      background-color: color.adjust(white, $alpha: -0.6);
      &:hover:not(.current) {
        color: $color-secondary;
      }
      &:hover, & a.current, & a:focus {
        background-color: color.adjust(white, $alpha: -0.3);
      }
      & a.current {
        background-color: color.adjust(white, $alpha: -0.15);
      }

      &.current a {
        cursor: default;
      }
    }
    a {
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
    }
  }
}

.background__header {
  flex: 0 0 100vh;
  $gradient: linear-gradient(
    -45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 35%,
    rgba(0,0,0,0.35) 65%,
    rgba(0,0,0,0.65) 100%
  );
  $image-url: url('./images/header_background.jpeg');
  background-image: $gradient,
                    $image-url;
  background-position: bottom 45% right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  will-change: transform;
  opacity: 0.8;
}

.background__content {
  flex: 1 1 100vmin;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.background__content-left {
  $image-url: url('./images/content_background_left.jpeg');
  flex: 1 1 400px;
  width: 100%;
  min-height: 300px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: $image-url;
  background-attachment: fixed;
  will-change: transform;
}

.background__content-right {
  $image-url: url('./images/content_background_right.jpeg');
  flex: 1 1 500px;
  width: 100%;
  min-height: 200px;
  background-position: bottom 30% right 33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: $image-url;
//  background-attachment: fixed;
}

header {
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  box-sizing: border-box;
  margin: 1.5rem;
  max-width: min(120rem, 80vw);
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 2px color.adjust(white, $alpha: -0.25));
  .header__banner {
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    color: $color-primary;
  }
  $header-row-min-height: 10rem;
  $header-row-max-height: 20rem;

  $logo-aspect-ratio: 140 / 188;
  $banner-aspect-ratio: 383 / 160;

  $logo-min-width: $logo-aspect-ratio * $header-row-min-height;
  $logo-max-width: $logo-aspect-ratio * $header-row-max-height;

  $banner-min-width: $banner-aspect-ratio * $header-row-min-height;
  $banner-max-width: $banner-aspect-ratio * $header-row-max-height;

  .header__logo, .header__banner {
    max-height: $header-row-max-height;
    min-height: $header-row-min-height;
    & * {
      height: 100%;
      width: 100%;
    }
  }

  .header__logo {
    flex: 1 1 $logo-min-width;
    max-width: $logo-max-width;
    @media (max-width: ($logo-min-width + $banner-min-width + 1rem) / 0.80) {
      display: none;
    }
  }

  .header__banner {
    flex: 3 1 $banner-min-width;
    max-width: $banner-max-width;
    padding-left: 0;
  }

  .header__motto {
    $min-width: 0.7 * $banner-min-width;
    max-height: $header-row-max-height;
    flex: 2 1 $min-width;
    margin-right: auto;
    max-width: 27.5ch;
    max-width: max(70vw, 27.5ch);
    margin-top: auto;
    margin-bottom: auto;
  }

  .header__motto {
    text-align: left;
    vertical-align: middle;
    color: $color-primary;
    font-size: 3rem;
    font-size: clamp(2rem, 3.5vmax, 5rem);
    font-weight: 500;
    line-height: 1;
    font-style: italic;
  }
  object {
    pointer-events: none;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main {
  flex: 1 1 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page {
  gap: 3rem;
  @media (max-width: 480px) {
    gap: 4rem;
  }
  @include content-column;
  margin-bottom: 4rem;
}

.card {
  box-shadow: 0 0 44px 5px rgba(0,0,0,0.25);
  background-color: white;
  opacity: 1;
  font-size: 1.2rem;
  line-height: 1.5;
}

.card__title {
  margin: 0.15em 0;
  padding: 0 0.5rem;
}

.card__content {
  margin: 0.5rem 1.5rem;
}

footer {
  background-color: white;
  //  @include content-column;
  padding: 0.5rem 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

  color: $color-primary;

  .title {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5;;
  }
  .datum {
    display: block;
    text-decoration: none;
    &:before {
      content: '⚙';
      text-decoration: none;
      margin-right: 0.5rem;
      vertical-align: middle;
      font-size: 1rem;
    }
    &:after {
      content: '⚙';
      text-decoration: none;
      margin-left: 0.5rem;
      vertical-align: middle;
      font-size: 1rem;
    }
  }
}
